@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button-base-blue {
    @apply bg-blue-500 hover:bg-blue-700 dark:bg-lime-500 dark:hover:bg-lime-700 text-white font-bold py-2 px-4 mb-3 rounded max-w-52 min-w-28 shadow-md shadow-slate-400;
  }
  .h1-base {
    @apply text-3xl font-mono text-white;
  }
  .banner-base {
    @apply bg-blue-500 dark:bg-lime-500 h-24 flex items-center;
  }

  .form-control {
    @apply font-mono;
  }

  .project-form-base {
    @apply w-full h-96 p-4 mt-4 border-2 border-sky-500 dark:border-lime-500;
  }
  .input-base {
    @apply w-full border-2 rounded-lg p-3 mb-4 font-mono text-black dark:text-white bg-white focus:outline-none dark:focus:text-black dark:bg-black focus:bg-sky-100 dark:focus:bg-lime-200;
  }

  .project-list-base {
    @apply w-full md:w-48p min-h-svh max-h-fit mb-2 border-2 border-sky-500 dark:border-lime-500 mt-4;
  }

  .project-item-base {
    @apply w-5/6 min-h-44 bg-sky-200 dark:bg-lime-100 border-2 mt-2 shadow-lg lg:max-w-xl flex flex-col flex-wrap justify-center p-3 break-all;
  }
  .item-container-base {
    @apply flex text-sky-800 dark:text-lime-600  font-mono mb-2;
  }
  .item-icons-base {
    @apply text-3xl mr-3;
  }

  .darkModeIcon-base {
    @apply mr-12 text-3xl text-white;
  }

  @layer base {
    body {
      @apply bg-white text-black;
    }
    .dark body {
      @apply bg-gray-900 text-white;
    }
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
}

@media (prefers-color-scheme: light) {
  /* :root {
    color: #213547;
    background-color: #ffffff;
  } */
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
