@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button-base-blue {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 mb-3 rounded max-w-52 min-w-28 shadow-md shadow-slate-400;
  }
  .h1-base {
    @apply text-3xl font-mono text-white;
  }
  .form-control {
  }
  .banner-base {
    @apply bg-blue-500 h-24 flex items-center;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

input,
textarea {
  border: 1px solid rgb(220, 220, 220);
  border-radius: 0.5rem;
  width: 100%;
  padding: 0.825rem;
  resize: none;
  margin-bottom: 1rem;
}

input:focus,
textarea:focus {
  outline: none;
  background: #fff5f9;
}
